<div class="row form">
  <div class="col-lg-12">
    <%= form_for(@comment) do |f| %>
      <h3><span>Q</span><%= @tweet.text %></h3>
      <div class="form-group">
        <%= f.text_area :text, placeholder: "コメントを入力してください", cols:"30", rows:"10", autofocus:"true", class:"form-control" %>
      </div>
      <%= f.hidden_field :tweet_id %>
      <%= f.submit "コメント", class:"btn btn-primary withripple"%>
    <% end %>
  </div>
</div>