<div class="container">
　<div class="row">
　  <header class="tweet_header">
    
    <div class="tweet_user_info user_info">
      <span><%= link_to tweet.user.name, user_path(tweet.user) %></span>
      <time><%= time_ago_in_words tweet.created_at %></time>
    </div>
  </header>
  <div class="tweet_body">
    <div class="tweet_box">
      <span class="tweet_text"><%= tweet.text %></span>
    </div>
    <div class="questioned">
      <%= link_to "コメント#{tweet.comments.count}件",tweet_path(tweet) %>
    </div>
    <%= form_tag(new_comment_path, method: :get, class: "tweet_submit") do %>
      <%= hidden_field_tag(:tweet_id, tweet.id) %>
      <%= submit_tag("コメントする") %>
    <% end %>
  </div>
  </div>
</div>